.isotope .isotope-item {-webkit-transition-duration: 0.8s !important;-moz-transition-duration: 0.8s !important;-ms-transition-duration: 0.8s !important;-o-transition-duration: 0.8s !important;transition-duration: 0.8s !important;}.cgm_isotype_bg_10.isotope .isotope-item {-webkit-transition-duration: 0.80s !important;-moz-transition-duration: 0.80s !important;-ms-transition-duration: 0.80s !important;-o-transition-duration: 0.80s !important;transition-duration: 0.80s !important;}.cgm_isotype_bg_10.isotope {-webkit-transition-property: height, width;-moz-transition-property: height, width;-ms-transition-property: height, width;-o-transition-property: height, width;transition-property: height, width;}.cgm_isotype_bg_10.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property:    -moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:top, left, opacity;transition-property:transform, opacity;}.cgm_isotype_bg_10.isotope.no-transition,
			.isotope.no-transition .isotope-item,
			.isotope .isotope-item.no-transition {
			  -webkit-transition-duration: 0s;
			     -moz-transition-duration: 0s;
			      -ms-transition-duration: 0s;
			       -o-transition-duration: 0s;
			          transition-duration: 0s;
			}.completegallery10 .isotope-hidden {display: none !important;}.cgm_isotype_bg_10 {min-height:200px !important;overflow:hidden !important;width:100% !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;border-style:none !important;box-shadow: none !important;text-shadow: none !important;}.cgm_isotype_bg_10 #cgm_video_play_icon {left: 50% !important;margin-left: -48px !important;margin-top: -48px !important;position: absolute !important;top: 50% !important;height: 96px !important;width: 96px; !important;background-size: contain;opacity: 0.9 !important;}.cgm_isotype_bg_10 .cgm_items figcaption h1, .cgm_isotype_bg_10 .cgm_items .cgm_figcaption h1 {margin-bottom: 0px !important;padding-bottom: 0px !important;margin-top: 0 !important;padding-top: 0 !important;font-size:16px !important;color:#333333 !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;box-shadow: none !important;text-shadow: rgba(255,255,255,0.85) 1px 0px 1px  !important;}.cgm_isotype_bg_10 .cgm_items figcaption p, .cgm_isotype_bg_10 .cgm_items .cgm_figcaption p {word-wrap: break-word;margin-bottom: 0 !important;padding-bottom: 0 !important;margin-top: 0 !important;padding-top: 0 !important;font-size:12px !important;color:#333333 !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;box-shadow: none !important;text-shadow: none !important;line-height: 130% !important;}.cgm_isotype_bg_10 .cgm_items figure {overflow: hidden !important;}.cgm_isotype_bg_10 .cgm_items .cgm_figcaption {text-align:left !important;padding:4px 4px 4px 4px !important;}.cgm_isotype_bg_10 .cgm_items figcaption {background-color: rgba(255,255,255,0.8) !important;padding:4px 4px 4px 4px !important;text-align:left !important;}.cgm_loading {background-image:url("http://pera.wpengine.com/wp-content/plugins/complete-gallery-manager/images/loader2.png") !important;background-size:32px 10px !important;background-repeat: no-repeat !important;background-position: center center !important;opacity: 0.2 !important;}.cgm_isotype_bg_10 .cgm_items .dif_img {display:none;}.cgm_isotype_bg_10 .cgm_items img {max-width: none !important;min-width: none !important;margin: 0px !important;}.cgm_isotype_bg_10 .cgm_items img, .cgm_isotype_bg_10 .cgm_items a , .cgm_isotype_bg_10 .cgm_items span , .cgm_isotype_bg_10 .cgm_items div {
		
		-moz-transition:0.2s linear;
		-webkit-transition:0.2s linear;
		-o-transition:0.2s linear;
		-ms-transition:0.2s linear;
		transition:0.2s linear;
		}.cgm_isotype_bg_10 .cgm_items {max-width: none !important;min-width: none !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;margin:0px 10px 10px 0px !important;border-color:#dcdcdc !important;border-style:none !important;background-color:#ffffff !important;box-shadow: none !important;text-shadow: none !important;}.cgm_isotype_menu_10 ul {list-style: none outside none !important;margin: 0 !important;list-style: none !important;}.cgm_isotype_menu_10 ul ul {margin-left: 1.5em !important;list-style: none !important;}.cgm_isotype_menu_10 li {float: left !important;margin-bottom: 0.2em !important;margin: 0px !important;padding: 0px !important;background: none !important;list-style: none !important;background-image: none !important;content: "" !important;}.cgm_isotype_menu_10 li:before {list-style: none !important;content: "" !important;}.cgm_isotype_menu_10 li:after {list-style: none !important;content: "" !important;}.cgm_isotype_menu_10 li a {line-height: 24px !important;list-style: none !important;}.cgm_isotype_menu_10 li a:active {box-shadow: 0px 2px 8px  rgba(0,0,0,0.6)  inset;}.cgm_isotype_menu_10 li a {border-left: 1px solid rgba(205, 205, 205, 0.3);border-right: 1px solid rgba(0, 0, 0, 0.2);}.cgm_isotype_menu_10 li:first-child a {border-left: medium none !important;border-radius: 0 !important;}.cgm_isotype_menu_10 li:last-child a {border-radius: 0 !important;}.cgm_isotype_menu_10 li:first-child a {border-left: 1px solid #cdcdcd !important;border-left-color:#cdcdcd !important;}.cgm_isotype_menu_10 li:last-child a {border-right:1px solid #cdcdcd !important;border-right-color:#cdcdcd !important;}.cgm_isotype_menu_10 li a {border-top-color:#cdcdcd !important; border-bottom-color:#cdcdcd !important; border-top: 1px solid #cdcdcd !important;border-bottom: 1px solid #cdcdcd !important;}.cgm_isotype_menu_10 div:first-child {margin-left: 0px !important;}.cgm_isotype_menu_10 div:last-child {margin-rigth: 0px !important;}.cgm_isotype_menu_10 div {list-style: none !important;float:left;margin: 10px 5px 10px 5px;}.cgm_isotype_menu_10 lable {padding-right: 5px !important;float: left !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;margin:10px 5px 10px 5px !important;box-shadow: none !important;text-shadow: none !important;}.cgm_isotype_menu_10 li a {background-image: linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%) !important;background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%) !important;background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%) !important;background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%) !important;background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%) !important;background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgba(255, 255, 255, 0)),
				color-stop(1, rgba(255, 255, 255, 0.5))
			) !important;padding: 0.4em 0.5em !important;display: block !important;font-size:14px !important;color:#333333 !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;background-color:#ececec !important;box-shadow: none !important;text-shadow: rgba(255,255,255,0.85) 1px 1px 2px  !important;}.cgm_isotype_menu_10 li a:hover {font-size:14px !important;color:#de5216 !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;background-color:#fafafa !important;box-shadow: none !important;text-shadow: none !important;}.cgm_isotype_menu_10 li a.selected {text-shadow: none;font-size:14px !important;color:#ffffff !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;background-color:#1b749d !important;box-shadow: none !important;text-shadow: none !important;}.pp_social .facebook {line-height: 1px;display:block !important;float:left !important;}.pp_social .pinterest {float: left;margin-left: 5px;line-height: 1px;display:block !important;float:left !important;}.pp_social .twitter {float: left;margin-left: 5px;line-height: 1px;display:block !important;float:left !important;}.pp_social .google {float: left !important;margin-left: 5px !important;line-height: 1px;display:block !important;float:left !important;}.pp_social .downloadimage {float: left !important;margin-left: 5px !important;line-height: 1px;display:none !important;}.pp_overlay {opacity:0.8 !important;background-color:#000000 !important;}.completegallery10 .universall_scroll {margin-left: 50% !important;display: none;text-align: center !important;width: 250px !important;z-index:800 !important;}.cgm-iso-fullscreen {
		    bottom: 0 !important;
		    left: 0 !important;
		    position: fixed !important;
		    right: 0 !important;
		    top: 0 !important;
		    z-index: 10000 !important;
		    overflow:auto !important;
		    background-color: rgba(0, 0, 0, 1) !important;
		}.completegallery10 .universall_scroll div {margin-left: -125px !important;width: 250px !important;font-size:15px !important;color:#333333 !important;font-family:Helvetica !important;text-decoration: none !important;font-weight: normal !important;font-style:none !important;padding:5px 5px 5px 5px !important;border-color:#dcdcdc !important;border-width:1px !important;border-style:solid !important;background-color:#ffffff !important;box-shadow: none !important;text-shadow: none !important;}figure.captions {
position:relative !important;
margin:0 !important;
overflow:hidden !important;
display:inline-block !important;
}

figure.captions img,
figure.captions video {
position:relative !important;
display:block !important;
}

figure.captions figcaption {
width:100%;
position:absolute !important;
-moz-box-sizing:border-box !important;
-webkit-box-sizing:border-box !important;
-ms-box-sizing:border-box !important;
box-sizing:border-box !important;
overflow:visible !important;
pointer-events: none !important;

}

figure.captions figcaption p {
pointer-events: auto !important;

}


/*
Push
---------------------------------------------------------------------------------------------------- */

figure.captions.push img,
figure.captions.push video {
z-index:999;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push figcaption {
width:100%;
height:100%;
top:0;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push:hover img,
figure.captions.push:focus img,
figure.captions.push:hover video
figure.captions.push:focus video {
z-index:0;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Left
---------- */

figure.captions.push.left img,
figure.captions.push.left video {
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.left figcaption {
width:50% !important;
-moz-transform:translateX(-100%);
-webkit-transform:translateX(-100%);
-o-transform:translateX(-100%);
-ms-transform:translateX(-100%);
transform:translateX(-100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.left:hover img,
figure.captions.push.left:hover video
figure.captions.push.left:focus img,
figure.captions.push.left:focus img {
-moz-transform:translateX(50%);
-webkit-transform:translateX(50%);
-o-transform:translateX(50%);
-ms-transform:translateX(50%);
transform:translateX(50%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out; 
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.left img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.left:hover #cgm_video_play_icon,
figure.captions.push.left:focus #cgm_video_play_icon{
	opacity: 0 !important;
}


figure.captions.push.left:hover figcaption,
figure.captions.push.left:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Right
---------- */

figure.captions.push.right img,
figure.captions.push.right video {
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.right figcaption {
width:50% !important;
right:0 !important;
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%);
-o-transform:translateX(100%);
-ms-transform:translateX(100%);
transform:translateX(100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.right:hover img,
figure.captions.push.right:focus img,
figure.captions.push.right:hover video,
figure.captions.push.right:focus video {
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-o-transform:translateX(-50%);
-ms-transform:translateX(-50%);
transform:translateX(-50%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.right img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.right:hover #cgm_video_play_icon,
figure.captions.push.right:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.right:hover figcaption,
figure.captions.push.right:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Top
---------- */

figure.captions.push.top img,
figure.captions.push.top video {
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.top figcaption {
height:50% !important;
-moz-transform:translateY(-100%);
-webkit-transform:translateY(-100%);
-o-transform:translateY(-100%);
-ms-transform:translateY(-100%);
transform:translateY(-100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.top:hover img,
figure.captions.push.top:focus img,
figure.captions.push.top:hover video,
figure.captions.push.top:focus video {
-moz-transform:translateY(50%);
-webkit-transform:translateY(50%);
-o-transform:translateY(50%);
-ms-transform:translateY(50%);
transform:translateY(50%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.top img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.top:hover #cgm_video_play_icon,
figure.captions.push.top:focus #cgm_video_play_icon{
	opacity: 0 !important;
}


figure.captions.push.top:hover figcaption,
figure.captions.push.top:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Bottom
---------- */

figure.captions.push.bottom img,
figure.captions.push.bottom video {
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.bottom figcaption {
height:50% !important;
top:inherit;
bottom:0;
-moz-transform:translateY(100%);
-webkit-transform:translateY(100%);
-o-transform:translateY(100%);
-ms-transform:translateY(100%);
transform:translateY(100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.bottom:hover img,
figure.captions.push.bottom:focus img,
figure.captions.push.bottom:hover video,
figure.captions.push.bottom:focus video {
-moz-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-o-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.push.bottom img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.bottom:hover #cgm_video_play_icon,
figure.captions.push.bottom:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.bottom:hover figcaption,
figure.captions.push.bottom:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Top + left
---------- */

figure.captions.push.top.left img,
figure.captions.push.top.left video {
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.left figcaption {
width:100% !important;
height:100% !important;
-moz-transform:translate(-100%,-100%);
-webkit-transform:translate(-100%,-100%);
-o-transform:translate(-100%,-100%);
-ms-transform:translate(-100%,-100%);
transform:translate(-100%,-100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.left:hover img,
figure.captions.push.top.left:focus img
figure.captions.push.top.left:hover video,
figure.captions.push.top.left:focus video {
-moz-transform:translate(100%,100%);
-webkit-transform:translate(100%,100%);
-o-transform:translate(100%,100%);
-ms-transform:translate(100%,100%);
transform:translate(100%,100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.left img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.top.left:hover #cgm_video_play_icon,
figure.captions.push.top.left:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.top.left:hover figcaption,
figure.captions.push.top.left:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}


/*
Top + right
---------- */

figure.captions.push.top.right img,
figure.captions.push.top.right video {
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.right figcaption {
width:100% !important;
height:100% !important;
-moz-transform:translate(100%,-100%);
-webkit-transform:translate(100%,-100%);
-o-transform:translate(100%,-100%);
-ms-transform:translate(100%,-100%);
transform:translate(100%,-100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.right:hover img,
figure.captions.push.top.right:focus img
figure.captions.push.top.right:hover video,
figure.captions.push.top.right:focus video {
-moz-transform:translate(-100%,100%);
-webkit-transform:translate(-100%,100%);
-o-transform:translate(-100%,100%);
-ms-transform:translate(-100%,100%);
transform:translate(-100%,100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.top.right img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.top.right:hover #cgm_video_play_icon,
figure.captions.push.top.right:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.top.right:hover figcaption,
figure.captions.push.top.right:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}


/*
Bottom + left
---------- */

figure.captions.push.bottom.left img,
figure.captions.push.bottom.left video {
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.left figcaption {
width:100% !important;
height:100% !important;
-moz-transform:translate(-100%,100%);
-webkit-transform:translate(-100%,100%);
-o-transform:translate(-100%,100%);
-ms-transform:translate(-100%,100%);
transform:translate(-100%,100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.left:hover img,
figure.captions.push.bottom.left:focus img
figure.captions.push.bottom.left:hover video,
figure.captions.push.bottom.left:focus video {
-moz-transform:translate(100%,-100%);
-webkit-transform:translate(100%,-100%);
-o-transform:translate(100%,-100%);
-ms-transform:translate(100%,-100%);
transform:translate(100%,-100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.left img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.bottom.left:hover #cgm_video_play_icon,
figure.captions.push.bottom.left:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.bottom.left:hover figcaption,
figure.captions.push.bottom.left:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}


/*
Bottom + right
---------- */

figure.captions.push.bottom.right img,
figure.captions.push.bottom.right video {
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.right figcaption {
width:100% !important;
height:100% !important;
-moz-transform:translate(100%,100%);
-webkit-transform:translate(100%,100%);
-o-transform:translate(100%,100%);
-ms-transform:translate(100%,100%);
transform:translate(100%,100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.right:hover img,
figure.captions.push.bottom.right:focus img
figure.captions.push.bottom.right:hover video
figure.captions.push.bottom.right:focus video {
-moz-transform:translate(-100%,-100%);
-webkit-transform:translate(-100%,-100%);
-o-transform:translate(-100%,-100%);
-ms-transform:translate(-100%,-100%);
transform:translate(-100%,-100%);
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}

figure.captions.push.bottom.right img#cgm_video_play_icon {
	opacity: 1;
}

figure.captions.push.bottom.right:hover #cgm_video_play_icon,
figure.captions.push.bottom.right:focus #cgm_video_play_icon{
	opacity: 0 !important;
}

figure.captions.push.bottom.right:hover figcaption,
figure.captions.push.bottom.right:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.7s ease-in-out;
-webkit-transition:0.7s ease-in-out;
-o-transition:0.7s ease-in-out;
-ms-transition:0.7s ease-in-out;
transition:0.7s ease-in-out;
}



/*
Appear
---------------------------------------------------------------------------------------------------- */

figure.captions.appear figcaption {
visibility:hidden;
opacity:0;
}

figure.captions.appear:hover figcaption,
figure.captions.appear:focus figcaption {
visibility:visible;
opacity:1;
}


/*
Left
---------- */

figure.captions.appear.left figcaption {
width:50% !important;
height:100%;
left:0;
top:0;
-moz-transform:translateX(-100%);
-webkit-transform:translateX(-100%);
-o-transform:translateX(-100%);
-ms-transform:translateX(-100%);
transform:translateX(-100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.appear.left:hover figcaption,
figure.captions.appear.left:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Right
---------- */

figure.captions.appear.right figcaption {
width:50% !important;
height:100% !important;
right:0;
top:0;
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%);
-o-transform:translateX(100%);
-ms-transform:translateX(100%);
transform:translateX(100%);
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}

figure.captions.appear.right:hover figcaption,
figure.captions.appear.right:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.4s ease-in-out;
-webkit-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
-ms-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
}


/*
Top
---------- */

figure.captions.appear.top figcaption {
top:0 !important;
-moz-transform:translateY(-100%);
-webkit-transform:translateY(-100%);
-o-transform:translateY(-100%);
-ms-transform:translateY(-100%);
transform:translateY(-100%);
-moz-transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
-o-transition:0.3s ease-in-out;
-ms-transition:0.3s ease-in-out;
transition:0.3s ease-in-out;
}

figure.captions.appear.top:hover figcaption,
figure.captions.appear.top:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
-o-transition:0.3s ease-in-out;
-ms-transition:0.3s ease-in-out;
transition:0.3s ease-in-out;
}


/*
Bottom
---------- */

figure.captions.appear.bottom figcaption {
bottom:0 !important;
-moz-transform:translateY(100%);
-webkit-transform:translateY(100%);
-o-transform:translateY(100%);
-ms-transform:translateY(100%);
transform:translateY(100%);
-moz-transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
-o-transition:0.3s ease-in-out;
-ms-transition:0.3s ease-in-out;
transition:0.3s ease-in-out;
}

figure.captions.appear.bottom:hover figcaption,
figure.captions.appear.bottom:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:0.3s ease-in-out;
-webkit-transition:0.3s ease-in-out;
-o-transition:0.3s ease-in-out;
-ms-transition:0.3s ease-in-out;
transition:0.3s ease-in-out;
}



/*
Appear always
---------------------------------------------------------------------------------------------------- */
/*
Left
---------- */

figure.captions.appear.always.left figcaption {
width:50% !important;
height:100% !important;
left:0 !important;
top:0 !important;
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}

figure.captions.appear.always.left:hover figcaption,
figure.captions.appear.always.left:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
visibility: visible;
opacity:1;
}


/*
Right
---------- */

figure.captions.appear.always.right figcaption {
width:50% !important;
height:100%;
right:0;
top:0;
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}

figure.captions.appear.always.right:hover figcaption,
figure.captions.appear.always.right:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}


/*
Top
---------- */

figure.captions.appear.always.top figcaption {
top:0;
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}

figure.captions.appear.always.top:hover figcaption,
figure.captions.appear.always.top:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}


/*
Bottom
---------- */

figure.captions.appear.always.bottom figcaption {
bottom:0;
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}

figure.captions.appear.always.bottom:hover figcaption,
figure.captions.appear.always.bottom:focus figcaption {
-moz-transform:none;
-webkit-transform:none;
-o-transform:none;
-ms-transform:none;
transform:none;
-moz-transition:none;
-webkit-transition:none;
-o-transition:none;
-ms-transition:none;
transition:none;
visibility: visible;
opacity:1;
}



/*
Appear tile description top
---------------------------------------------------------------------------------------------------- */

figure.captions.appear.titlebottom figcaption {
visibility:visible !important;
opacity:1 !important;
}


/*
/*
Bottom
---------- */

figure.captions.appear.titlebottom figcaption {
	height: 50% !important;
	padding-top: 0px !important;
	bottom:34px !important;
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
	-o-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	-moz-transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
	-ms-transition:0.3s ease-in-out;
	transition:0.3s ease-in-out;
}

figure.captions.appear.titlebottom figcaption h1 {
	padding-top: 5.4px !important;
	padding-bottom: 5.4px !important;
	overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


figure.captions.appear.titlebottom:hover figcaption,
figure.captions.appear.titlebottom:focus figcaption {
	bottom:0px !important;
	-moz-transform:none;
	-webkit-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
	-moz-transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
	-ms-transition:0.3s ease-in-out;
	transition:0.3s ease-in-out;
}


/*
Flip
---------------------------------------------------------------------------------------------------- */

figure.captions.flip {
background:none;
border:none;
overflow:visible ;
-webkit-perspective:1000;
-moz-perspective: 1000;
}

figure.captions.flip img,
figure.captions.flip video {
z-index:999;
-webkit-backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
-webkit-transition:0.4s ease-in-out;

-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-moz-transition: all .4s ease-in-out;

}

figure.captions.flip figcaption {
height:100%;
top:0;
z-index:0;

-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-moz-transition: all .4s ease-in-out;

-webkit-backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
-webkit-transition:0.4s ease-in-out;
}

figure.captions.flip:hover img,
figure.captions.flip:focus img,
figure.captions.flip:hover video,
figure.captions.flip:focus video {
z-index:0;
}

figure.captions.flip:hover figcaption,
figure.captions.flip:focus figcaption {
z-index:999;
}


/*
Horizontal
---------- */

figure.captions.flip.horizontal figcaption {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}

figure.captions.flip.horizontal:hover img,
figure.captions.flip.horizontal:focus img,
figure.captions.flip.horizontal:hover video,
figure.captions.flip.horizontal:focus video {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}

figure.captions.flip.horizontal:hover figcaption,
figure.captions.flip.horizontal:focus figcaption {
-webkit-transform:none;
-moz-transform:none;
}


/*
Vertical
---------- */

figure.captions.flip.vertical figcaption {
-webkit-transform:rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

figure.captions.flip.vertical:hover img,
figure.captions.flip.vertical:focus img,
figure.captions.flip.vertical:hover video,
figure.captions.flip.vertical:focus video {
-webkit-transform:rotateY(180deg);
-moz-transform: rotateY(180deg);
}

figure.captions.flip.vertical:hover figcaption,
figure.captions.flip.vertical:focus figcaption {
-webkit-transform:none;
-moz-transform:none;
}

/*
Cube cool effect
*/
figure.captions.boxes {
  display: block;  position: absolute !important;
  perspective: 1000000px;
  overflow: visible !important;
  -moz-transform-style: preserve-3d;
  -moz-transform:rotateX(270deg) rotateY(0) rotateZ(0);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(270deg) rotateY(0) rotateZ(0);
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateX(270deg) rotateY(0) rotateZ(0);
  -o-transform-style: preserve-3d;
  -o-transform: rotateX(270deg) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transform: rotateX(270deg) rotateY(0) rotateZ(0);
  -moz-transition:0.4s ease-in-out;
  -webkit-transition:0.4s ease-in-out;
  -o-transition:0.4s ease-in-out;
  -ms-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
  overflow: visible !important;
}

.cgm_items:hover figure.captions.boxes {
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg) ;
	transform: rotateX(0deg);
}

figure.captions.boxes a {
  position: absolute !important;
  -moz-backface-visibility: hidden;
  -moz-transform:  rotateX(90deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform:  rotateX(90deg);
  -ms-backface-visibility: hidden;
  -ms-transform:  rotateX(90deg);
  -o-backface-visibility: hidden;
  -o-transform:  rotateX(90deg);
  backface-visibility: hidden;
  transform:  rotateX(90deg);
}
figure.captions.boxes figcaption {
  position: absolute !important;
  -moz-backface-visibility: visible;
  -moz-transform: rotateY(0deg)  translateZ(75px);
  -ms-backface-visibility: visible;
  -ms-transform:  rotateY(0deg)  translateZ(75px);
  -webkit-backface-visibility: visible;
  -webkit-transform:  rotateY(0deg)  translateZ(75px);
  -o-backface-visibility: visible;
  -o-transform: rotateY(0deg)  translateZ(75px);
  backface-visibility: visible;
  transform: rotateY(0deg) translateZ(75px);
}


