@media only screen and (min-width: 950px) {
	body.landing.page {
		#navigation {
			ul {
				li {
					a {

					}

					&:hover, &:sfHover {
						> ul {
							display: block !important;
							opacity: 1 !important;
							filter: alpha(opacity=100) !important;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width:1100px) {
	body.not-landing {
		.top-widget-container{
			.left-top-widget{
				padding:0;
				padding-left:72px;
			}

			.right-top-widget{
				padding:0;
				margin:0 2.53906% 0 0;
			}
		}

		#header{

			#navigation,
			#logo{
				width: 100%;
				float:none;
			}

			#logo{
				padding-left:65px;
				margin:0;
			}

			#navigation{

				ul{
					border-top:1px solid #5b422b;
					width: 100%;
					padding:0 0 0 1.46484%;

					li{

						a,
						a:link{
							padding:14px 15px 12px;
						}
					}
				}
			}
		}

		.sub-navigation{
		}

		#main-wrapper{
			#wrapper{
				width: 96.09375%;
				margin:0 auto;
			}
		}

		.footer-wrapper{
			#footer{
				padding: 0 1.95313%;
			}

			.footer-logo:after{
				right:3.90626%;
			}
		}

		.copyright-container,
		.twitter-footer{
			padding:0 1.95313%;
		}

		.copyright-container{
			padding-top:15px;
			padding-bottom:5px;
		}

		#main{
			.home-blocks{
				.vc_span4{
					padding:20px 2.92969% 18px;
				}
			}

			.gform_wrapper {
				margin-left:-2.90698%;

				li{
					padding:0 0 0 2.90698%;
					width:50%;

					&.gtwo-col{
						width:50% ;
						padding:0 0 0 2.90698%;
					}

				}

				.gform_footer{
					padding-left:2.90698%;
				}
			}
		}

		.singlep {
			.singlep-content{
			 	.singlep-thumbnail{
			 		margin-bottom:30px;
				}
			}
		}
	}

	body.not-landing.not-home #main .post-listing .post-container,
	body.not-landing.home #main .post-listing .post-container{
		margin:0 0 35px;
	}

	body.not-landing {
		#header {
			#navigation {
				padding:0 !important;
			}
		}	
	}
}

/*Landing Page*/
@media only screen and (max-width:1100px) {
	body.landing.page {
		.top-widget-container{
			.left-top-widget{
				padding:0;
				padding-left:72px;
			}

			.right-top-widget{
				padding:0;
				margin:0 2.53906% 0 0;
			}
		}

		#header{
			#navigation {

				> ul {
					width: 100%;
					padding: 0;
				}
			}
		}

		#header{
			#navigation{

				ul{
					
					width: 100%;
					padding:0;

					li{

						a,
						a:link{
							padding:14px 15px 12px;
						}
					}
				}
			}
		}

		#main-wrapper{
			#wrapper{
				width: 96.09375%;
				margin:0 auto;
			}
		}

		.footer-wrapper{

			#footer{
				padding: 20px 1.95313% 10px 1.95313%;
			}

			.footer-logo:after{
				right:3.90626%;
			}
		}

		#below-footer,
		.twitter-footer{
			padding: 10px 1.95313%;
		}

		#below-footer{
			padding-top:15px;
		}

		#main{

			.home-blocks{

				.vc_span4{
					padding:20px 2.92969% 18px;
				}
			}

			.gform_wrapper {
				margin-left:-2.90698%;

				li{
					padding:0 0 0 2.90698%;
					width:50%;

					&.gtwo-col{
						width:50% ;
						padding:0 0 0 2.90698%;
					}

				}

				.gform_footer{
					padding-left:2.90698%;
				}
			}

		}

		.singlep {

			.singlep-content{

			 	.singlep-thumbnail{
			 		margin-bottom:30px;
				}
			}
		}

		
		#main .post-listing .post-container{
			margin:0 0 35px;
		}
	}
}

@media only screen and (max-width:1024px) {
	body.landing.page {
		#header {
			position: absolute;
			background: none !important;

			.navigation-drop {
				color: #E1E1E1;
				text-align: center;	
			}
		}

		#main .vc_row-fluid .vc_span6 {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 950px) {
	body.landing.page {
		.twitterbirdanimated {
			width: 45px; 
			height: auto;
			opacity: 0.80;
			filter: alpha(opacity=80);
		}
	}

	body.not-landing {
		.sub-navigation {
			top: -9px;
			position: relative;
			z-index: 401;
		}
	}
}