.homepage-specials {
	img {
		margin: 0 auto 5px auto;
		display: block;
		text-align: center;
	}
	
	article {
		&:nth-of-type(4n+1) {
			margin-left: 0;
			clear: left;
		}
		
		&:nth-of-type(4) {
			margin-right: 0;
		}
	}
}