/* MEDIA QUERY VALUES */
$desktop : 960px;
$tablet-portrait : 768px;
$phone-landscape : 480px;
$phone-portrait : 320px;
/* MEDIA QUERY VALUES END */

/* SITE COLORS */
$black : #000000;
$white : #ffffff;

$century-gothic : "century gothic", helvetica, arial, sans-serif;

$menu-font : $century-gothic;

/*$action-button-gradient-top : #ec1758;
$action-button-gradient-bottom : #fb5287;

$search-button-gradient-top : $action-button-gradient-top;
$search-button-gradient-bottom : $action-button-gradient-bottom;

$footer-background-gradient-top : #131313;
$footer-background-gradient-bottom : #404040;

$hero-bullet-off : $light-gray;
$hero-bullet-on : $white;*/
/* SITE COLORS END */

/* FONT VARIABLES */
/*$oswald-regular : "oswaldregular", helvetica, arial, sans-serif;
$egyptienne : "egyptienne", "times new roman",serif;
$helvetica : helvetica, arial, sans-serif;

$sidebar-header : $oswald-regular;
$hero-title : $oswald-regular;*/