@font-face {
    font-family: 'steelfish';
    src: url('fonts/steelfis-webfont.eot');
    src: url('fonts/steelfis-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/steelfis-webfont.woff') format('woff'),
         url('fonts/steelfis-webfont.ttf') format('truetype'),
         url('fonts/steelfis-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}