/* MEDIA QUERY VALUES */
$wide-desktop : 1330px;
$desktop : 960px;
$tablet-portrait : 768px;
$phone-landscape : 480px;
$phone-portrait : 320px;
/* MEDIA QUERY VALUES END */

/* SITE COLORS */
$black : #231f20;
$gray : #666666;
$offwhite : #fff9f2;
$white : #ffffff;
$cream : #fff6eb;
$tan : #e9d5c1;
$gold : #cba978;
$darkgold : #ae8140;
$darkred : #931616;

$avenir : avenir, avenir-bold, helvetica, arial, sans-serif;
$steelfish : steelfish, helvetica, arial, sans-serif;