$nav-font: "Open Sans",sans-serif;
$main-font:"Open Sans",sans-serif;
$head-font:"Open Sans",sans-serif;
$avenir-med:"AvenirLT-Medium","Open Sans",sans-serif;
$avenir-black:"AvenirLT-Black","Open Sans",sans-serif;
$avenir-heavy:"AvenirLT-Heavy","Open Sans",sans-serif;
$avenir-roman:"AvenirLT-Roman","Open Sans",sans-serif;
$avenir-light:"AvenirLT-Light","Open Sans",sans-serif;
$avenir-oblique:"AvenirLT-Oblique","Open Sans",sans-serif;