/* line 1, scss/social.scss */
.sharing-container {
  position: relative;
  margin-left: 50%;
  left: -65px;
  height: 100px;
}

/* line 8, scss/social.scss */
.hupso-share-buttons div div {
  display: block !important;
  text-align: center;
}

/* line 13, scss/social.scss */
.hupso-share-buttons, .likebtn_container {
  float: left;
}

/* line 17, scss/social.scss */
.hupso-share-buttons {
  width: 97px;
}

/* line 21, scss/social.scss */
.sharing-container .likebtn-wrapper.lb-style-squarespace {
  line-height: 28px;
}

/* line 25, scss/social.scss */
.sharing-container .lb-style-squarespace .lb-like-icon {
  background-image: url("images/like-button.png");
}

/* line 29, scss/social.scss */
.sharing-container .lb-style-squarespace .lb-like-icon:hover, .sharing-container .lb-style-squarespace .lb-like-icon:active, .sharing-container .lb-style-squarespace .lb-a:hover .lb-like-icon {
  background-image: url("images/like-button-hover.png");
}

/* line 33, scss/social.scss */
.sharing-container .lb-style-squarespace .lb-voted .lb-like-icon {
  background-image: url("images/like-button-red.png");
}

/* line 37, scss/social.scss */
.sharing-container .lb-style-squarespace .lb-voted .lb-a:hover .lb-like-icon {
  background-image: url("images/like-button-hover-red.png");
}

/* line 41, scss/social.scss */
.sharing-container .lb-style-squarespace .lb-like-icon, .sharing-container .lb-style-squarespace .lb-dislike-icon {
  /*padding: 5px 5px 0 0*/
  height: 28px;
  width: 28px;
}

/* line 47, scss/social.scss */
.sharing-container .lb-like, .sharing-container .lb-dislike {
  width: 28px;
  height: 28px;
  margin-right: 3px;
  overflow: visible;
  padding: 0;
}

/* line 55, scss/social.scss */
.sharing-container .hupso-share-buttons, .sharing-container .likebtn_container {
  padding-top: 11px;
}
